[2014-06-30 10:29] nguyenchiencong opened #1 "Is this project still going on?"
Hi,

Do you know if there are any vietnamese analyzers for elasticsearch?

Thx and cheers

[2014-10-20 05:39] anhtran opened #2 "You should make tags to lock the versions"
Use Github's release channel.

Thanks for great works!

[2014-10-20 11:40] #1 closed, assigned to nobody

[2014-10-20 11:40] #2 closed, assigned to nobody

[2014-10-28 15:40] nnhatnam opened #3 "Not work when create index with mapping"
When I create a new index , specifying that the "content" field use the vi_analyzer analyzer:

PUT http://localhost:9200/test/
{
  "mappings": {
    "data": {
      "properties": {
        "content": {
          "type": "string",
          "analyzer": "vi_analyzer"
        }
      }
    }
  }
}
}

Then I index the follow document :

POST http://localhost:9200/test/data/
{
  "content": "Công nghệ t

[2014-11-02 02:30] #3 closed, assigned to nobody

[2014-12-16 11:28] lfiaschi opened #4 "MapperParsingException"
Hi,
I am trying to use the plugin however I did not manage to make it work.

After installation from binary source it seems to correctly load:
[code]

However when I try to set a custom in the mapping of a new index as:
[code]

I get the following response:

[code]

any clue?

[2014-12-29 05:03] phamvannam opened #5 "Can't apply elasticsearch-analysis-vietnamese"
Hello Duy Do
I'm Student.
I researching about elasticsearch search enginer. I try your solution for VietNamese stopwords but i can't using it. It's example.

1. I try with example from elasticsearch.
PUT /index3
{
  "settings": {
    "number_of_shards": 1,
    "analysis": {
      "analyzer": {
        "my_analyzer": {
          "type": "standard",
          "stopwords": [
            "bị",

[2015-01-03 04:50] duydo commented on #5
I'll check it. Sorry for late reply.

[2015-02-10 08:26] kureikain opened #6 "Super cool"
@duydo Super cool a Duy :+1:

[2015-03-07 04:55] duydo commented on #6
thanks em ;-)

[2015-04-28 17:56] anhvudg opened #7 "NPE"
Hi duydo,

I'm studying about Vietnamese tokenizing. I installed plugin version 0.1.1 with the latest ES. When using vi_analyzer with the sample suggester at http://www.elastic.co/guide/en/elasticsearch/reference/1.3/search-suggesters-phrase.html, I got 2 NPE (tokenizer provider cannt get an instance). Here they are:

[code]

và đoạn NPE thứ 2

[code]

[2015-05-07 04:03] duydo commented on #7
Currently the plugin does not support ES v1.5, I have not upgraded to ES 1.5 yet.

[2015-05-11 17:05] icovn commented on #4
After I install I run above curl command and I get this:
{"error":"ElasticsearchIllegalArgumentException[text is missing]","status":400}
Please explain this problem to me!

[2015-06-16 07:15] #6 closed

[2015-08-01 04:27] #7 closed

[2015-08-19 14:37] dripp1 commented on #4
Do you have a version compatible with ElasticSearch 1.6?

[2015-09-04 08:37] duydo commented on #4
Hi @dripp1
Sorry for late reply. I've just released the version 1.6, you can download it here https://dl.dropboxusercontent.com/u/1598491/elasticsearch-analysis-vietnamese-0.1.6.zip

[2015-09-05 02:46] duydo commented on #5
@phamvannam your my_analyzer just use the vi_tokenizer, you should add stopwords filter as you did for the index3

[2015-09-06 05:53] dripp1 commented on #4
Thank you!

[2015-09-06 08:31] phamquick commented on #4
Em chào anh @duydo , plugin này của anh dường như không hỗ trợ tìm kiếm tiếng Việt không dấu. Em đã có thử qua  hunspell token filter nhưng vẫn không được ạ. Anh có thể hướng dẫn cho em giải pháp nào tìm kiếm tiếng Việt không dấu bằng Elasticsearch được không ạ?
Xin trân thành cảm ơn anh.

[2015-09-10 07:22] #5 closed

[2015-09-10 07:24] duydo commented on #4
@icovn try this one:
[code]
Result:
[code]

[2015-09-10 07:24] #4 closed

[2015-09-11 10:43] phamvannam commented on #5
oh...thanks you very much?

2015-09-10 14:22 GMT+07:00 Duy Do <notifications@github.com>:

[2015-10-14 10:43] buithehien1991 opened #8 "Settings sample for filter stopwords"
I've just written settings but I'm not sure about that.
[code]
Could you correct me with I was wrong?

[2015-10-14 10:54] buithehien1991 commented on #8
I've seen on https://github.com/duydo/elasticsearch-analysis-vietnamese/blob/master/src/main/java/org/apache/lucene/analysis/vi/VietnameseAnalyzer.java
[code]

So, how to use it? on setting of filter.
Thank you so much....

[2015-10-14 11:01] buithehien1991 commented on #8
Addition, I'm working on Rails project and use Chewy gem using elasticsearch as wrapper, So I think setting of it like as setting for elasticsearch.
You can see here: https://github.com/toptal/chewy

Thank you so much for your help.

[2015-10-14 11:45] buithehien1991 commented on #8
The first time, I run like:
http://localhost:9200/_analyze?analyzer=vi_analyzer&text="anh bị đi bộ đội và phải nghỉ học"

But have error: {"error":"ElasticsearchIllegalArgumentException[failed to find analyzer [vi_analyzer]]","status":400}

I installed successfully your plugin and run server from bin/elasticsearch.
Could you please show me reason of this cause.
Thank you soi much for your help.

[2015-10-15 04:28] duydo commented on #8
@buithehien1991 You don't need to define a custom Vietnamese analyzer, you can use vi_analyzer directly in mapping:

[code]

In case you want to define a custom Vietnamese analyzer to apply other filters, you can use vi_tonkenizer:

[code]

[2015-10-21 16:39] duccanh0022 opened #9 "Error when build plugin from source"
Hi,
the first thanks to the nice plugin.
I have a problem. i build plugin from your source, when i run elasticsearch have an error:

{
  "error": "NoClassDefFoundError[vn/hus/nlp/sd/SentenceDetectorFactory]; nested: ClassNotFoundException[vn.hus.nlp.sd.SentenceDetectorFactory]; ",
  "status": 500
}

This is my source
<img width="327" alt="screen shot 2015-10-21 at 11 36 54 pm" src="https://cloud.g

[2015-10-24 02:08] duydo commented on #9
You are missing vn tokenizer jars in the class path, make sure that all jar files in libs folder are in the class path.

[2015-11-03 10:42] idontgotit opened #10 "Error when index database using analysis-vietnamese"
First thanks to your plugin.
But i have some error when index database in it.
I use elasticsearch 1.7.0, and install success elasticsearch because test success
curl -XGET "http://localhost:9200/_analyze?analyzer=vi_analyzer&text="Công nghệ thông tin Việt Nam"

i tried set analyzer is defaul when creat new index , setting in elasticsearch.yml
#################################### Index #############

[2015-12-16 08:36] duydo commented on #8
Closed due to lack of feedback.

[2015-12-16 08:36] #8 closed

[2015-12-16 08:37] duydo commented on #9
Closed due to lack of feedback

[2015-12-16 08:37] #9 closed

[2015-12-22 10:20] dripp1 opened #11 "Do you plan a 2.1.1 version?"
The plugin version 2.1.0 is not compatible with ES 2.1.1

Thanks

[2015-12-22 13:25] nguyenchiencong commented on #11
:+1:

[2015-12-23 18:14] duydo commented on #11
Yes, next few days :-)

[2015-12-27 15:26] duydo commented on #11
@dripp1 @nguyenchiencong I've just updated the plugin to support ES 2.1.1.

[2015-12-27 15:26] #11 closed

[2015-12-28 05:38] dripp1 commented on #11
Thank you!

[2015-12-28 09:49] nguyenchiencong commented on #11
you rock! :cake:

[2016-02-01 10:59] dripp1 opened #12 "Highlighting Issue (v. 2.2.0)"
Thank you for the plugin, but I have an issue with highlighting of matched terms. I use version 2.2.0.
When I run the following query:
[code]
I get the following result, where the highlighting offsets are wrong and they wrap the wrong words:
[code]
Can you please advise whether this is a bug that you can fix or something that I can configure in my code.
Thank you!

[2016-02-02 09:36] duydo commented on #12
I'll have a look at it. Thanks for your reports.

[2016-02-03 10:36] dripp1 commented on #12
Thank you. Also - if you are at it - perhaps you can make a version compatible with Elastic Search 2.2.0 as the current version can only work with 2.1.1 and I get error:

ERROR: Plugin [elasticsearch-analysis-vietnamese] is incompatible with Elasticsearch [2.2.0]. Was designed for version [2.1.1]

Thanks!

[2016-02-07 08:00] dpinol opened #13 "Can it be used with elasticsearch 2.2?"
If I try
`bin/plugin  install  https://dl.dropboxusercontent.com/u/1598491/elasticsearch-analysis-vietnamese-0.2.1.1.zip
`
I get:
`ERROR: Plugin [elasticsearch-analysis-vietnamese] is incompatible with Elasticsearch [2.2.0]. Was designed for version [2.1.1]`

thanks!

[2016-02-15 08:07] duydo commented on #13
Thank @dpinol for using the plugin, I will provide a build for ES 2.2.0.

[2016-02-17 03:11] duydo commented on #13
@dpinol The plugin now supports ES 2.2.0

[2016-02-17 03:11] #13 closed

[2016-02-17 03:11] duydo commented on #12
@dripp1 The plugin now supports ES 2.2.0

[2016-02-17 03:19] nguyenchiencong commented on #12
:+1:

[2016-02-23 10:12] dripp1 commented on #12
Thank you!

[2016-02-23 15:41] dripp1 opened #14 "Cannot Index Document on 2.2.0"
Hi,
I installed version 2.2.0 of the plugin into elasticsearch 2.2.0 and installation (and also index creation) worked fine. For this index I set the default analyzer like this:

[code]

Now, when I try to index a simple document like this:

[code]

I get error:

[code]

and when I run the same functionality from Java, I get a more detailed error:

[code]

Can you please check this issue?
Thanks!

[2016-02-29 02:08] duydo commented on #14
Thanks for your report, I will try to fix in several days.

[2016-03-10 04:17] knd commented on #14
Hi @duydo , any update on this or ways to work around?

[2016-03-20 06:48] DienNM commented on #7
I get the same error when try to use ES 1.7.4 with your plugin at 0.1.7

[2016-03-28 10:56] apueee commented on #14
Hi @duydo is there any update on this issue? I'm getting same error and can't skip the error

[2016-04-04 05:43] dripp1 commented on #14
Hi @duydo any chance of fixing this any time soon?
Thank you.

[2016-04-07 03:00] duydo commented on #14
Hi all, I'm working on this issue. I hope it can be fixed very soon.

[2016-04-07 07:54] duydo commented on #14
@knd @apueee @dripp1: I've just fixed the issue, please re-install https://dl.dropboxusercontent.com/u/1598491/elasticsearch-analysis-vietnamese-0.2.2.zip

[2016-04-07 07:55] dripp1 commented on #14
Thank you!!

[2016-04-07 16:30] #14 closed

[2016-04-10 12:31] dripp1 commented on #12
The plugin indeed now works on ES 2.2.0 and indexing is done, but the above highlighting issue still exists. It would be great if you could fix this, as it makes this important functionality unusable.
Thank you.

[2016-04-18 09:10] dripp1 commented on #12
Hi @duydo - is there a chance that you will have time soon to look at this issue?
The plugin is really not of much use to us as long as this issue exists. Thanks in advance!

[2016-04-19 02:59] duydo commented on #12
@dripp1 I have not found any reason behinds this, it seems that it comes from the Elasticsearch itself. I suspect the highlight parser does not work with Vietnamese characters, I will contact with some guys at Elastic this week.

[2016-04-19 05:13] dripp1 commented on #12
Thank you very much, it will be great if a solution is found.

[2016-04-29 01:22] huyhoang1990 opened #15 "Upgrade new version elasticsearch-analysis-vietnamese for ES 2.3.1"
Now, im using ES version 2.3.1, And i want to try your plugin to improve search.

When do you upgrade your plugin compatible with other version of ES ?

Thanks

[2016-05-02 07:59] dripp1 commented on #12
Hi @duydo -  did the Elastic people provide a solution to this?

[2016-05-24 12:25] dripp1 commented on #12
@duydo please see an answer from ES support for this question at [https://discuss.elastic.co/t/highlighting-offset-issue-with-vietnamese/50421](url) - seems like they think that the problem is in the analyzer/tokenizer that produces wrong offsets.

[2016-05-26 08:20] duydo commented on #12
I'm working on it, hope it can be fixed soon. Thanks @dripp1

[2016-05-26 08:27] dripp1 commented on #12
Awesome!

[2016-06-30 08:24] dripp1 commented on #12
@duydo - Any news on this?

[2016-07-05 11:21] dripp1 commented on #12
@duydo - any chance that you may have time to fix this issue? Without that - the plugin is pretty useless...

[2016-07-12 02:29] mkchen89 commented on #15
Topic này có vẻ hẩm hiu quá, ko thấy author vào ý kiến nhể :3

[2016-07-18 03:52] duydo commented on #15
Mấy nay mình bận quá chưa build version mới được, vài hôm nữa mình sẽ build.

[2016-07-19 05:20] huyhoang1990 commented on #15
Hi Anh Duy!
   Khi nào anh rảnh cho em gặp anh uống cafe hỏi han được không anh :D .
   Nếu anh tiện thì anh add skype của em với ạ :   huyhoang01011990

[2016-07-26 06:04] duydo commented on #15
@huyhoang1990 Có gì gởi trao đổi với anh qua skype duy.doquoc hoặc email doquocduy@gmail.com  em nhé.

[2016-08-22 23:38] duydo commented on #12
@dripp1 The issue has been fixed.

[2016-08-22 23:38] #12 closed

[2016-08-22 23:39] duydo commented on #15
@huyhoang1990 Mình đã build cho các version 2.3.0 -> 2.3.5

[2016-08-22 23:39] #15 closed

[2016-08-22 23:39] duydo commented on #10
The issue has been fixed

[2016-08-22 23:39] #10 closed

[2016-08-23 01:59] huyhoang1990 commented on #15
Cảm ơn Anh ạ !

2016-08-23 6:39 GMT+07:00 Duy Do <notifications@github.com>:

[2016-08-23 05:10] dripp1 commented on #12
Thank you

[2016-09-18 17:09] khanhoatink4 opened #16 "Lỗi khi search elasticsearch"
Sau khi đánh index và insert dữ liệu vào, khi search thì vẫn ra kết quả nhưng nhìn log thì có lỗi này:

_> java.security.AccessControlException: access denied ("java.io.FilePermission" "tokenizer.log.lck" "write")

_

`Caused by: java.lang.NullPointerException
	at vn.hus.nlp.tokenizer.Tokenizer.tokenize(Tokenizer.java:251)
	at org.apache.lucene.analysis.vi.VietnameseTokenizer.tokenize(VietnameseTo

[2016-09-19 02:39] duydo commented on #16
Cái này là lỗi do thư viện VnTokenizer không có quyền ghi log xuống file, không ảnh hưởng gì đến việc index và search nhé em.

[2016-10-07 10:41] #16 closed

[2016-10-24 02:56] amelkikh opened #17 "Upgrade to ES 2.4.1"
Please upgrade to ES 2.4.1

[2016-10-26 06:20] hovanhon commented on #16
dear Duy Đỗ
xin hỏi có cách nào fix không nếu index khoảng 5 triệu index thì nó quăng ra lượng log rất lớn do lỗi trên gây ra.

[2016-10-28 04:33] duydo commented on #17
I'm working on it.

[2016-10-30 11:35] hatienkma opened #18 "Hỏi về kiểm tra bản ghi đã tồn tại"
Chào mọi người,

Mình mới nghiên cứu về ES. Phiên bản của mình dùng mới nhất hiện tại.

Mình dùng elasticsearch-php để index và get dữ liệu.

Mình muốn kiểm tra 1 bản ghi trước khi chèn vào, ví dụ như chưa có thì chèn, có rồi bỏ qua.

Mong mọi người hỗ trợ.

[2016-11-01 07:17] duydo commented on #18
Cài này em qua bên [group](https://www.facebook.com/groups/elasticsearchvn/) thảo luận nhé, cái này để mở issue cho cái plugin tiếng Việt thôi.

[2016-11-01 07:17] #18 closed

[2016-11-02 02:11] #17 closed

[2016-11-02 02:13] amelkikh commented on #17
Thanks a lot

[2016-11-06 13:31] hohieukn opened #19 "analyzer [vi_analyzer] not found for field [content]"
Hi duydo,
I have problem with this plugin.
I am using:
elasticsearch-analysis-vietnamese-2.4.0.zip
and
elasticsearch_2.4

FOR VI_TOKENIZER
it ok when using for analyzer
#####################
POST _analyze
{
  "tokenizer": "vi_tokenizer",
  "text": "giá cả thế nào hả bạn"
}
RESULT
{
   "tokens": [
      {
         "token": "giá cả",
         "start_offset": 0,
         "end_offset": 6,
         "ty

[2016-11-29 10:30] maitruong opened #20 "Elasticsearch 5.0"
Hi a.Duy Do,
I've got this issue when installing your plugin into Elasticsearch 5.0
Exception in thread "main" java.net.UnknownHostException: usr
Please help me to release a new version plugin which is compatible with Elasticsearch 5.
Thanks,
Mai Truong

[2016-11-30 01:00] duydo commented on #20
Thanks for being interested in the plugin. I'm working on it.

[2017-02-02 02:51] amelkikh commented on #20
Dear @duydo , a big request to you to implement support ASAP. Thank you

[2017-02-20 09:02] duydo commented on #20
@maitruong @amelkikh The plugin has been upgraded to Elasticsearch 5.2.1.

[2017-02-21 13:36] ndeitch commented on #20
Hi @duydo,

I'm upgrading a plugin of es2 to es5 in my job.

Could you please, indicate some doc where I could learn how to. On elastic.co I couldn't find.

Thanks in advance!

[2017-02-22 04:38] amelkikh opened #21 "Plugin version for ES 2.4.4"
Dear @duydo, could you help me to create plugin for ES 2.4.4 because it will allow me to complete my task. My request is due to the fact that I also use your plug-in in conjunction with another, but now I can not upgrade ES to version 5.
Thanks in advance

[2017-02-23 02:54] duydo commented on #20
@ndeitch I'm working on creating doc for the plugin, will ping you later.

[2017-02-24 16:35] ndeitch commented on #20
@duydo,

I take another look on elastic docs, and found this [link](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_50_plugins.html) that combined with your commit helped me a lot!

Thx!

[2017-02-25 11:24] duydo commented on #20
@ndeitch Great to hear that. Thank you for using the plugin :-)

[2017-02-28 13:45] #20 closed

[2017-03-02 03:02] duydo commented on #21
@amelkikh I will provide this version next week.

[2017-04-19 03:41] lequi opened #22 "Gặp vấn đề khi sử dụng bulk để update field sử dụng vi_analyzer"
Elasticsearch & plugin version: 2.4.1

Mình đang dùng bulk để update 1 field sang từ standard sang sử dụng vi_analyzer - khoảng 400,000 document thì elasticsearch phun ra lỗi này liên tục:

[code]

[2017-04-21 11:44] duydo commented on #22
Lỗi này có lẽ xuất phát từ thư viện vnTokenizer, mình sẽ kiểm tra lại.

[2017-05-11 03:16] thanhthai3010 commented on #19
I am running the same query with you:
curl -XGET 'localhost:9200/_analyze?pretty' -H 'Content-Type: application/json' -d' {"tokenizer": "vi_tokenizer", "text": "giá cả thế nào hả bạn" } '

But unfortunate, I got the message:
{
  "error" : {
    "root_cause" : [
      {
        "type" : "remote_transport_exception",
        "reason" : "[My First Node][127.0.0.1:9300][indices:admin/analyze[s]]"

[2017-05-11 08:38] khoimt opened #23 "Exception Khi Truy Vấn Dữ Liệu"
Em chào anh, rất cảm ơn về bộ thư viện hữu ích.

Hiện tại em đang chạy thử nghiệm thư viện của anh tuy nhiên mỗi lần truy vấn các node es em thử nghiệm đề có Exception bắn ra, lỗi bắn ra khá ngẫu nhiên với từng node mặc dù query giống nhau. Anh có thể xem ảnh em đính kèm. Có thể vì lỗi này mà kết quả trả ra cho mỗi query cũng không giống nhau.

Em đang chạy thử với ES 2.4.4 lucene  5.5.2,  OpenJDK

[2017-05-12 01:44] khoimt commented on #23
Hi anh,

có vẻ vấn đề sẽ phát sinh khi dữ liệu được lưu trên nhiều shards, em điều chỉnh số shard = 1 thì không còn lỗi nữa. Em không nhiều kinh nghiệm code java nên gặp khá nhiều khó khăn để debug, hiện tại xem được dữ liệu input  khi đẩy vào hàm VietnameseTokenizer::tokenize dẫn đến lỗi có cách nào để debug watch được tại thời điểm đấy không anh.

Thanks,

[2017-05-12 01:52] khoimt commented on #21
Hi I built this follow guideline, you can try this

https://github.com/khoimt/elasticsearch-analysis-vietnamese/releases/download/2.4.4/elasticsearch-analysis-vietnamese-2.4.4.zip

[2017-05-12 02:06] duydo commented on #23
@khoimt Có vẻ như cái lib VnTokenizer không thread-safe, để cuối tuần này anh kiểm tra thêm nhé.

[2017-05-26 10:54] thanhkm12 commented on #22
Dear a duydo,
Em cũng gặp trường hợp tương tự!
java.lang.NullPointerException: null
        at org.apache.lucene.analysis.vi.VietnameseTokenizer$1.run(VietnameseTokenizer.java:77) ~[?:?]
        at org.apache.lucene.analysis.vi.VietnameseTokenizer$1.run(VietnameseTokenizer.java:74) ~[?:?]
        at java.security.AccessController.doPrivileged(Native Method) ~[?:1.8.0_131]
        at org.apache.luc

[2017-05-26 16:04] #21 closed

[2017-06-26 17:32] rkgrep opened #24 ".tar.gz release file"
Could you, please, provide .tar.gz version of binary in addition to zip?

I am making a docker image with automated build and want to use release URL directly. However unzip is not available in official container and I don't really want to install/uninstall it.

[2017-07-18 21:42] Trey314159 opened #25 "Token offsets are incorrect"
I had to build the plugin myself for Elasticsearch v5.3.2.

If I analyze this string `sách .. sách ; 東京都 ` I get the following:
[code]
The start and end offsets are incorrect and do not map correctly back into the original string. Each start_offset is just one more than the end_offset of the previous token. This is incorrect when there is more than one character or less than one character between

[2017-07-19 03:08] duydo commented on #25
Thanks for raising this issue @Trey314159, the position value plays an important role in searching phrases. I'll look at it.

Btw, the output tokens should keep their accent marks, this is the goal of the plugin.

[2017-07-19 11:56] Trey314159 commented on #25
Oops—I agree that the tokens should keep their accent marks! I ran the text through a different analyzer to get the correct offsets in my sample output. I changed the types to match, but not the tokens.

[2017-07-21 19:34] Trey314159 opened #26 "Capitalization plus non-Vietnamese characters leads to inconsistent tokenization"
I see that the tokenizer splits on certain non-Vietnamese Latin characters, such as _å, ä, č, ç, ë, ğ, ï, ı, ñ, ö, ö, ø, š, ş, ü,_ and _ÿ_ (which is not a complete list, I expect, just the ones I tested). This is not ideal for text that contains foreign words, but it is also not uncommon for analyzers to split on foreign characters.

I also see that adjacent capitalized words are tokenized togethe

[2017-07-21 21:02] Trey314159 commented on #25
FYI, I think the incorrect offsets or position values are causing StringIndexOutOfBoundsExceptions in my re-indexing script. I've posted a [stack trace for one instance](https://www.mediawiki.org/wiki%2FUser%3ATJones_%28WMF%29%2FNotes%2FVietnamese_Analyzer_Analysis%2FStack_Trace) if you want to take a look.

[2017-07-23 05:32] duydo commented on #26
@Trey314159 Thank you very much for this report, the tokenizer should not analyze the foreign words.
It seems that we have a lot of issues with the Vietnamese tokenizer library, I used a very old version for the plugin (released in 2009). I tried to replace this old one with the latest one here https://github.com/phuonglh/vn.vitk but the performance was very poor, because of Spark.
In order to use

[2017-07-23 06:05] duydo commented on #24
@rkgrep Elasticsearch requires its plugins in zip format, it can unzip itself. You don't need an external command to extract.

[2017-07-23 07:43] duydo commented on #25
From your information I found a bug on VietnameseTokenizer, I'm working on it now.

[2017-07-24 15:38] Trey314159 commented on #25
I'm glad it helped!

Trey Jones
Software Engineer, Discovery
Wikimedia Foundation

On Sun, Jul 23, 2017 at 3:43 AM, Duy Do <notifications@github.com> wrote:

[2017-07-24 15:43] Trey314159 commented on #26
Oddly, I'm getting messages from @duydo in email, but not seeing them here. Not sure where/how to respond properly.

[2017-07-26 15:51] duydo commented on #26
Hi @Trey314159,

I've just fixed the offset issue #25 and implemented your suggestions for the tokenizer. Now the tokenizer does not split non-Vietnamese characters, does not tokenize the capitalized words together, split words/character correctly.

For the text `sách .. sách ; 東京都`:
[code]

For the text `año vs Año, r=22 vs R=22, x&y vs X&Y, x*y vs X*Y, x+y vs X+Y`:
[code]
I attached here the bui

[2017-07-27 15:08] Trey314159 commented on #26
@duydo, thanks for the update! I've downloaded the zip and I'll try to give it a thorough testing next week and report back here.

[2017-07-27 17:00] duydo commented on #26
@Trey314159 I just found a bug when doing the query, please don't test that version util it's fixed.

[2017-07-27 17:55] Trey314159 commented on #26
@duydo, let me know when there's a new version.

[2017-07-28 16:32] duydo commented on #26
Hi @Trey314159,
After investigating I found that the original tokenizer is not thread-safe, it's a root cause of the NullPointerException as you reported. I've just re-implemented a new thread-safe tokenizer, can you please give it a try? Here is the new version for ES v5.3.2 [elasticsearch-analysis-vietnamese-5.3.2.zip](https://github.com/duydo/elasticsearch-analysis-vietnamese/files/1183610/elas

[2017-07-28 16:32] #24 closed

[2017-07-28 17:46] Trey314159 commented on #26
Cool! I've downloaded it and I'll give it a try next week.

[2017-07-31 16:33] tuananhhedspibk opened #27 "Gặp lỗi khi build plugin"
![screenshot from 2017-07-31 23-32-56](https://user-images.githubusercontent.com/15076665/28787975-a52a8c4c-7648-11e7-98f2-c22a9c82c9dd.png)

[2017-08-04 14:20] Trey314159 opened #28 "Unexpected whitespace causes errors"
I've found three cases where the unexpected presence or absence of whitespace causes offset error or string index out of range error. I'm reporting all three together, since I'm guessing they are related.

1) Two newlines in a row causes an error:
[code]
2) Two spaces between elements that should tokenize together causes an error. In this case "không gian" is normally indexed as one token. But if

[2017-08-04 14:39] Trey314159 opened #29 "Repeated Tokens Get Incorrect Offsets"
Repeated tokens get incorrect offsets, especially in the presence of extra whitespace and whitespace-like characters. I found examples with spaces and with a right-to-left mark followed by a space. I left out the right-to-left mark example because it's invisible, but you can recreate the behavior by changing the first space to a right-to-left mark in #2 or #3 below. I haven't tested any other spac

[2017-08-04 15:04] Trey314159 opened #30 "More capitalization inconsistencies"
[I've got a number of issues, which I'm going to file separately, based on grouping related symptoms, but some of them may be related. I think a number of them may be related to matching patterns without good boundary detection.]

Below are some more examples (as in issue #26) of strings that differ only by case but are tokenized differently.
[code]

[2017-08-04 15:13] Trey314159 opened #31 "Number errors and inconsistencies"
1) Integers followed by a close paren, and then any character but space or return will make the paren part of the number token.
[code]
but:
[code]

2) Periods after numbers before spaces and tabs are not stripped:
[code]
but:
[code]

3) Period after number is inconsistently stripped:
[code]

[2017-08-04 15:19] Trey314159 opened #32 "Contextual inconsistencies"
Seemingly unrelated characters around a token can sometimes change how it is parsed in unexpected ways.

1) Dash-connected-words are split differently depending on other words and punctuation:
[code]
but:
[code]
Any of these characters can come after the letter and preserve the dashed-connected-words: ```.  + - ; : ( ) , % ! ?```

2) Tabs are treated differently depending on what's around them:
[c

[2017-08-04 15:32] Trey314159 opened #33 "Many patterns need better word boundaries"
1) Slashes: In general slashes and dashes are treated unexpectedly based on how date-like or fraction-like they look in inappropriate contexts. Parsing of dates is fine, but not everything that looks like a date is, and MM/DD/YYYY format is not parsed. Parsing fractions is fine, too, but both dates and fractions should have proper word boundaries around them:
[code]

2) Dashes: Again, parsing date

[2017-08-04 16:05] Trey314159 opened #34 "Suggestion: better handle combining diacritics"
Combining characters (incluing diacritics and other characters in non-Latin scripts) cause tokens to split. Some examples from various scripts:

* ضَمَّة — Arabic
* বাংলা — Bengali
* Михаи́л — Cyrillic + combining acute
* दिल्ली — Devanagari
* ಅಕ್ಷರಮಾಲೆ — Kannada
* áa - Latin + combining acute (vs áa with precomposed character)
* ଓଡ଼ିଆ — Oriya
* தமிழ் — Tamil
* తెలుగు — Telugu
* อักษรไทย —Thai
*

[2017-08-04 16:06] Trey314159 opened #35 "Suggestion: Don't index whitespace and punctuation"
These whitespace and zero-width characters get indexed, but probably shouldn't be:

* no break space U+00A0
* en space U+2002
* em space U+2003
* three-per-em space U+2004
* four-per-em space U+2005
* six-per-em space U+2006
* figure space U+2007
* punctuation space U+2008
* thin space U+2009
* hair space U+200A
* zero width space U+200B
* zero width non-joiner U+200C
* zero width joiner U+200D
*

[2017-08-04 16:16] Trey314159 opened #36 "Very slow run time"
I don't know if you can do anything about it, but in my tests, processing Vietnamese Wikipedia articles in 100-line batches, the analyzer is 30x to 40x slower than the default analyzer.

Processing 5,000 articles (just running the analysis, not full indexing) took ~0:17 for the default analyzer. For vi_analyzer on the same text, it took ~8:05. For comparison, I ran the English analyzer on the same

[2017-08-11 10:39] duydo commented on #36
Hi @Trey314159,
Thank you for spending time doing analysis with the plugin, I really appreciate what you've contributed to it.
After looking at all the issues you reported and reviewing whole source code of the original tokenizer I decided to stop hacking it, I will implement a new Vietnamese word segmentation from the scratch based on [this paper](https://www.researchgate.net/publication/29616221

[2017-08-11 10:46] duydo opened #37 "Implement new tokenizer"
The original tokenizer has many issues Trey Jones has reported recently, I decide to implement a new version from scratch to solve those issues. This implementation is based on this paper https://www.researchgate.net/publication/29616221_A_Hybrid_Approach_to_Word_Segmentation_of_Vietnamese_Texts

[2017-08-11 12:07] hoangpq commented on #37
Awesome, waiting for new releases :)

[2017-08-11 13:23] Trey314159 commented on #36
Hi @duydo,

Glad to help. Sorry the result is abandoning the current tokenizer, but I'm very glad you are going to pursue a new implementation!

I can send you my corpus—it's 5000 Vietnamese Wikipedia articles, with all extra markup removed, and individual lines deduped. It's 3.7MB (1.1MB compressed), so I can email it to you if that's feasible.

[2017-08-11 13:34] Trey314159 commented on #36
Or—I can upload the compressed corpus here! [vi.5K.txt.zip](https://github.com/duydo/elasticsearch-analysis-vietnamese/files/1217952/vi.5K.txt.zip)

For anyone else who wants to download and use this corpus, since it is a derivative work from [Vietnamese Wikipedia](https://vi.wikipedia.org/wiki/Trang_Ch%C3%ADnh) articles, it is licensed [CC BY-SA 3.0](https://creativecommons.org/licenses/by-sa/3.0

[2017-08-11 13:37] Trey314159 commented on #36
Hmm. One last comment: I've also removed extra whitespace—extra blank spaces and blank lines, both of which caused problems for the old plugin/tokenizer.

[2017-08-11 16:26] duydo commented on #36
@Trey314159 I've just downloaded the corpus, thanks for sharing. It would be great if you can upload the original corpus without removing extra spaces or blank lines for testing the new tokenizer.

[2017-08-11 18:05] Trey314159 commented on #36
@duydo I don't have the original corpus anymore. I just have a script that downloaded the text of 5000 Wikipedia articles.

[2017-08-16 10:18] duydo commented on #36
@Trey314159 Ok, I think the corpus you provided is enough for now, I will crawl more if needed. Thanks.

[2017-08-16 10:19] duydo commented on #35
I close this issue, it will be implemented in new tokenizer #37

[2017-08-16 10:20] #35 closed

[2017-08-16 10:20] #36 closed

[2017-08-16 10:21] duydo commented on #34
I close this issue, it will be fixed in new tokenizer #37

[2017-08-16 10:21] #34 closed

[2017-08-16 10:21] duydo commented on #33
I close this issue, it will be fixed in new tokenizer #37

[2017-08-16 10:21] #33 closed

[2017-08-16 10:21] duydo commented on #32
I close this issue, it will be fixed in new tokenizer #37

[2017-08-16 10:21] #32 closed

[2017-08-16 10:21] duydo commented on #31
I close this issue, it will be fixed in new tokenizer #37

[2017-08-16 10:21] #31 closed

[2017-08-16 10:21] duydo commented on #30
I close this issue, it will be fixed in new tokenizer #37

[2017-08-16 10:21] #30 closed

[2017-08-16 10:22] duydo commented on #29
I close this issue, it will be fixed in new tokenizer #37

[2017-08-16 10:22] #29 closed

[2017-08-16 10:22] duydo commented on #28
I close this issue, it will be fixed in new tokenizer #37

[2017-08-16 10:22] #28 closed

[2017-08-16 10:22] duydo commented on #26
I close this issue, it will be fixed in new tokenizer #37

[2017-08-16 10:22] #26 closed

[2017-08-16 10:22] duydo commented on #25
I close this issue, it will be fixed in new tokenizer #37

[2017-08-16 10:22] #25 closed

[2017-08-16 10:23] duydo commented on #19
I close this issue, it will be fixed in new tokenizer #37

[2017-08-16 10:23] #19 closed

[2017-08-16 10:23] duydo commented on #22
I close this issue, it will be fixed in new tokenizer #37

[2017-08-16 10:23] #22 closed

[2017-08-16 10:23] duydo commented on #23
I close this issue, it will be fixed in new tokenizer #37

[2017-08-16 10:23] #23 closed

[2017-08-16 10:23] #27 closed

[2017-08-21 07:44] telosma commented on #37
Awesome

[2017-08-24 22:10] pmazeris opened #38 "plugin maven compile error"
I'm following http://duydo.me/how-to-build-elasticsearch-vietnamese-analysis-plugin/
but it fails on mac osx or ubuntu equally - can you advise?  THks
[code]

[2017-09-05 04:37] duydo commented on #38
@pmazeris Sorry for late reply, I was on vacation.
Temporary, you can skip tests to build the plugin: `mvn package -DskipTests`

[2017-09-05 18:44] pmazeris commented on #38
it worked thanks!

[2017-09-06 04:35] #38 closed

[2017-09-28 04:02] KingWu opened #39 "Support Elastic search for 5.6.x?"
Hi, this is great plugin. I download it for elastic search 5.6.0. but get the following issue

Exception in thread "main" java.lang.IllegalArgumentException: plugin [elasticsearch-analysis-vietnamese] is incompatible with version [5.6.0]; was designed for version [5.4.1]

[2017-09-28 04:31] duydo commented on #39
I have not provided a version for ES 5.6.0 yet, you can build yourself with instruction here http://duydo.me/how-to-build-elasticsearch-vietnamese-analysis-plugin/

[2017-09-28 13:16] KingWu opened #40 "Error Code 500 crash internally"
Dataset include a field with empty string, which seem to make it crash internally.

logstash         | [2017-09-28T13:13:39,840][INFO ][logstash.outputs.elasticsearch] Retrying individual bulk actions that failed or were rejected by the previous bulk request. {:count=>1}
logstash         | [2017-09-28T13:13:43,799][INFO ][logstash.outputs.elasticsearch] retrying failed action with response code: 5

[2017-09-28 16:06] #39 closed

[2017-10-01 15:37] duydo commented on #40
Thanks for your report. This is known issue, I've been working on it.

[2017-10-02 07:35] #40 closed

[2017-10-25 08:03] huynhtran1509 opened #41 "lỗi khi build mvn package trong window"
em chạy lệnh đến lẹnh
cd elasticsearch-analysis-vietnamese
mvn package
thì bị lỗi sau:
[ERROR] Failed to execute goal com.carrotsearch.randomizedtesting:junit4-maven-plugin:2.3.3:junit4 (unit-tests) on project elasticsearch-analysis-vietnamese: There were test failures: 2 suites, 1 test, 1 suite-level error, 1 error [seed: 2073BF2290744A13]
[ERROR]
[ERROR] To see the full stack trace of the errors

[2017-10-26 02:07] Lunatictwo opened #42 "Does the plugin support Elasticsearch 5.4.0?"
My Elasticsearch version is 5.4.0, which version should I use? Thanks.

[2017-10-30 04:27] duydo commented on #41
Em bỏ qua bước test nhé: `mvn package -DskipTests`

[2017-10-30 04:29] duydo commented on #42
You should use the plugin 5.4.0. You can build your own version http://duydo.me/how-to-build-elasticsearch-vietnamese-analysis-plugin/

[2017-10-30 04:29] #42 closed

[2017-11-06 05:01] #41 closed

[2017-11-20 06:17] Lunatictwo opened #43 "Does this repository support ES 6.0?"
And any plans for supporting ES 6.0?

[2017-11-21 07:57] Lunatictwo commented on #43
change pom.xml into this fix it:
[code]

[2017-11-21 07:57] #43 closed

[2018-03-19 00:48] homer2017 commented on #16
khi em sử dụng elasticsearch-analysis-vietnamese cũng bị lỗi như trên và khi search tiếng Việt không dấu lại lúc được lúc không? anh có thể chỉ ra cách khắc phục lỗi trên giúp ko ạ? cám ơn anh!

[2018-05-24 08:01] zonorion opened #45 "Can not build custom version elasticsearch"
Hi @duydo!
I cloned your project, then tried to build with this tut http://duydo.me/how-to-build-elasticsearch-vietnamese-analysis-plugin/.
But have two error:

Pls tell me how to fix this problems? Thanks

[2018-08-21 18:57] KazkiMatz commented on #22
For those who also hit this issue, a quick workaround would be limiting the number of CPU cores to 1, as this seems an issue caused by a race condition under multithreading.
If you're using Docker, `--cpuset-cpus 0` would be the solution. If you're running on bare metal, probably `cgroups`?

[2018-09-03 07:00] yellow1912 opened #46 "Implementation for 6.x?"
Is there any plan to implement this one for 6.x version? This is a great plugin btw.

[2018-09-05 01:49] lyquocnam opened #47 "Support Elasticsearch 6.x please !"
Dear author, Support Elasticsearch 6.x please

[2018-09-05 07:05] #47 closed

[2018-09-13 04:28] duydo commented on #45
@zonorion you can skip tests to build:
```mvn package -DskipTests```

[2018-09-13 04:32] duydo commented on #46
@yellow1912 I've been so busy with other stuff recently so I cannot make any promise on this :(
If you can program with Java, it's easy to modify the source code for supporting new version. I will be back on this project when I'm available.

[2018-09-15 02:44] #45 closed

[2018-09-25 02:13] #46 closed

[2018-11-02 06:18] geekpete opened #48 "Provide compatible version for Elasticsearch 6.x"

[2018-11-06 02:22] congtuvg9x opened #50 "how to import Elasticsearch Vietnamese Analysis eclipse"
I don't know import library Elasticsearch Vietnamese Analysis to  Eclipse. pls help me!

[2018-11-06 03:15] duydo commented on #48
@geekpete I'm working on it, will update soon.

[2018-11-06 03:15] #48 closed

[2018-11-15 21:36] nguyentienlong opened #51 "Error when bulk indexing database using vnTokenizer"
I found this error in log file when doing bulk index database using the plugin. Any suggestion to debug this ?
ES 5.6.6, and plugin info
[code]
[code]

[2018-11-16 00:30] nguyentienlong commented on #23
Anh @duydo oi, em cũng bị lỗi tương tự, chắc tạm thời em chỉnh lại shard = 1 như bạn @khoimt suggest thử xem sao.

[2018-11-16 01:27] nguyentienlong opened #52 "Error when searching"
ES 5.6.5

Settings
[code]

Error log:
[code]

[2019-02-01 02:27] htluandc2 opened #53 "Công cụ tokenizer cho kết quả sai"
Hi anh. Em đang dùng thử plug-in của anh.
Elasticsearch: 5.6.5
Plug-in build trên code clone từ master.
Khi em thử nghiệm kết quả như sau:

Input:

Output:

[2019-02-12 10:13] minhnhat2807 opened #54 "Cannot install this plugin with elasticsearch 6.5.4"
-> Downloading file:///home/ubuntu/development/elasticsearch-analysis-vietnamese/target/releases/elasticsearch-analysis-vietnamese-6.5.4.zip
[=================================================] 100%??
ERROR: This plugin was built with an older plugin structure. Contact the plugin author to remove the intermediate "elasticsearch" directory within the plugin zip.

Could you please re-structure the pl

[2019-02-19 14:48] minhnhat2807 commented on #54
Hi @duydo, could you please tell me whether this repo is still maintenance or not?

Thanks

[2019-02-20 04:22] duydo commented on #54
@minhnhat2807 This repo is still maintained but recently I've been busy with other stuff so I cannot spend time on this project.
The current repo is not compatible with ES version 6.x. If you cannot wait for upgrading from me, you can fork and contribute to this plugin.

[2019-02-27 04:31] duydo commented on #53
@htluandc2 Kết quả này do em dùng lowercase filter khiến câu "công nghệ thông tin Việt Nam" bị chuyển thành chữ thường "công nghệ thông tin việt nam" nên bọ tokenizer hoạt động không còn chính xác nữa, các danh từ riêng như Việt Nam phải được giữ nguyên khi đi qua tokenizer.

[2019-02-27 04:31] #53 closed

[2019-02-27 04:31] #54 closed

[2019-02-27 04:33] duydo commented on #50
I use Maven to build this plugin so you can import this project as a maven project into Eclipse.

[2019-02-27 04:33] #50 closed

[2019-02-27 04:35] duydo commented on #52
Thanks for reporting @nguyentienlong, this is known bug.

[2019-02-27 04:35] #52 closed

[2019-02-27 04:36] duydo commented on #51
Thanks for reporting the bug, this bug relates to https://github.com/duydo/elasticsearch-analysis-vietnamese/issues/52

[2019-02-27 04:36] #51 closed

[2019-03-25 11:17] nvson28 opened #57 "Compatibility with Elasticsearch 6.4.2"
Hi,

I have 2 questions regarding the plugins:

1. I am currently using ES 6.4.2, which version of the plugin should I use?

2. I have tried to rebuild the plugin from source, but faced with this error:
[code]
Could someone please help?
Thanks for your time.

[2019-03-26 01:26] duydo commented on #57
@nvson28

All plugins have to follow Elasticsearch version. That mean you have to build the plugin with Elasticsearch 6.4.2

You have to build the vntokenizer first, follow the guide here http://duydo.me/how-to-build-elasticsearch-vietnamese-analysis-plugin/

[2019-03-27 13:44] #57 closed

[2019-04-08 04:02] davesag commented on #37
What is the status of this ticket now?

[2019-04-11 03:39] duydo commented on #37
@davesag

It is still in progress...but slow, I've just been so busy lately with my startup.

[2019-04-18 10:42] kienvht commented on #37
Cảm ơn anh @duydo . Chúc anh ngày càng mạnh khỏe. Em cũng mong đợi bản release mới của anh.

[2019-04-26 07:51] itlboy opened #58 "Build fail with elasticsearch 7.0.0"
[INFO] Scanning for projects...
[INFO]
[INFO] --------< org.elasticsearch:elasticsearch-analysis-vietnamese >---------
[INFO] Building elasticsearch-analysis-vietnamese 7.0.0
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-resources-plugin:2.6:resources (default-resources) @ elasticsearch-analysis-vietnamese ---
[INFO] Using 'UTF-8' encoding

[2019-04-26 07:52] itlboy commented on #58
[INFO] Scanning for projects...
[INFO]
[INFO] --------< org.elasticsearch:elasticsearch-analysis-vietnamese >---------
[INFO] Building elasticsearch-analysis-vietnamese 7.0.0
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-resources-plugin:2.6:resources (default-resources) @ elasticsearch-analysis-vietnamese ---
[INFO] Using 'UTF-8' encoding

[2019-05-14 10:54] huukimit opened #59 "Didn't we release for ES v5.6.5?"
Look at the readme.md.
Although I see ES v5.6.5 is the compatible version, I don't find release/tag for this.
When do we release for v5.6.5?

[2019-05-27 01:34] duydo commented on #59
Hi @huukimit, you can build your own version with guide here http://duydo.me/how-to-build-elasticsearch-vietnamese-analysis-plugin/

[2019-05-31 01:54] #59 closed

[2019-06-04 10:06] lequi commented on #58
Same issue when I build for elasticsearch 7.1.0

[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[INFO]
[INFO] --------< org.elasticsearch:elasticsearch-analysis-vietnamese >---------
[INFO] Building elasticsearch-analysis-vietnamese 7.1.0
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-resources-plugin:2.6:resources (

[2019-06-11 03:35] duydo commented on #58
@itlboy @lequi

Anh có fix cho Elasticsearc v7.0.0 trong [nhánh này ](https://github.com/duydo/elasticsearch-analysis-vietnamese/tree/feature/v7.0.0,) 2 em build rồi test cùng anh nhé.
Cám ơn 2 em.

[2019-06-11 06:40] lequi commented on #58
@duydo em đã build & test, hiện tại hoạt động tốt anh.
Có vấn đề gì em sẽ feedback thêm.
Cảm ơn anh.

[2019-06-18 04:01] xiaoyuan0821 commented on #37
Hi @duydo I'm trying to use this plugin on the production env, is this plugin production ready? Will it cause ES process crush in some scenario?

[2019-06-24 02:54] duydo commented on #37
@xiaoyuan0821 There are some companies have been used the plugin in the production environment, I haven't received any crash report relates to it.

[2019-07-01 11:07] khs123 opened #60 "install plugin es-analysis với docker es 5.3.1"
Hi
Mình có tìm hiểu và muốn sử dụng es để phục vụ việc search dữ liệu tiếng viết hệ thống mình, mình  thì dùng docker để chạy es. Tuy nhiên khi cài plugin thì báo lỗi
`Exception in thread "main" java.io.EOFException: Unexpected end of ZLIB input stream
	at java.util.zip.InflaterInputStream.fill(InflaterInputStream.java:240)
	at java.util.zip.InflaterInputStream.read(InflaterInputStream.java:158)

[2019-08-01 10:09] sylvae opened #61 "Offset Bug"
Hi , I got a bug when I use this elasticsearch-analysis-vietnamese：
My index mappings:
`
PUT /test
{
    "mappings": {
        "properties":{
            "content":{
                "type": "text",
               "analyzer": "vi_analyzer"
            }
        }
    }
}
`
And when I index the data:
`
POST test/_doc/1
{
    "content":"Phụ tùng xe Mazda bán tải dưới 7 chỗ: ống dẫn gió tới két làm má

[2019-08-02 09:29] duydo commented on #61
Thank for your report @sylvae, I'll investigate.

[2019-08-02 09:31] duydo commented on #60
@khs123 Bạn mô tả cụ thể hơn quá trình cài đặt plugin nhé.

[2019-08-02 09:31] #58 closed

[2019-08-15 03:16] khs123 commented on #60
Mình đã fix được lỗi đó rồi :D

[2019-08-15 03:25] #60 closed

[2019-08-23 04:21] tienthanh2509 commented on #61
Hi a,

ES 7.0.0 still have a sample issue

mapping

[code]

[code]
The tokenizer is work fine

[code]

Thank you for help

[2019-08-26 14:50] duydo commented on #61
@sylvae @tienthanh2509 this bug has been fixed in new release v7.3.1.

[2019-08-26 14:50] #61 closed

[2019-09-02 14:04] vknvnn opened #65 "The issue for 7.3.1 version when build new image on docker"
### In the my dockerfile:
FROM elasticsearch:7.3.1

COPY elasticsearch-analysis-vietnamese-7.3.1.zip /usr/share/elasticsearch/

RUN cd /usr/share/elasticsearch && \
  bin/elasticsearch-plugin install file:///usr/share/elasticsearch/elasticsearch-analysis-vietnamese-7.3.1.zip && \
  bin/elasticsearch-plugin install analysis-icu

### When I run:
docker build -t elasticsearch-vi:7.3.1 .
Sending build

[2019-09-04 02:40] phamducmanh1989 commented on #65
Can you try this:
`FROM elasticsearch:7.3.1

COPY elasticsearch-analysis-vietnamese-7.3.1.zip /usr/share/elasticsearch/

RUN cd /usr/share/elasticsearch &&
bin/elasticsearch-plugin install --batch file:///usr/share/elasticsearch/elasticsearch-analysis-vietnamese-7.3.1.zip &&
bin/elasticsearch-plugin install analysis-icu`

[2019-09-04 03:01] duydo commented on #65
@vknvnn Can you please try to install plugin with `batch mode` with option `--batch` as @phamducmanh1989 suggested? If it still does not work, try `--force` option.

[2019-09-04 06:47] nicksome168 opened #66 "Build fail with Elasticsearch 6.8.2"
[INFO] Scanning for projects...
[INFO]
[INFO] --------< org.elasticsearch:elasticsearch-analysis-vietnamese >---------
[INFO] Building elasticsearch-analysis-vietnamese 6.8.2
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-resources-plugin:2.6:resources (default-resources) @ elasticsearch-analysis-vietnamese ---
[INFO] Using 'UTF-8' encoding

[2019-09-04 07:02] nicksome168 commented on #66
I checked the previous [commits](
https://github.com/duydo/elasticsearch-analysis-vietnamese/commit/5bbc810f0a28d8927b42e86626b184982d115f5e)
 and found this.

        super(indexSettings, settings);	        super(indexSettings, name, settings);

However, after I added _name_ variable to the function _super_, another issue was raised.

[INFO]
[INFO] --------< org.elasticsearch:elasticsearch-analys

[2019-09-04 13:32] duydo commented on #66
@nicksome168 Some Elasticsearch v7 APIs are not compatible with v6.x. To build the plugin for v6, check out this branch https://github.com/duydo/elasticsearch-analysis-vietnamese/tree/feature/v6.8.2

[2019-09-04 17:52] vknvnn commented on #65
many thanks to @duydo, @phamducmanh1989

[2019-09-05 01:09] #65 closed

[2019-09-05 03:24] nicksome168 commented on #66
@duydo I've built and tested. It works well. Thank you :)

[2019-09-05 03:25] #66 closed

[2019-09-09 10:31] frog210 opened #67 "When I was doing the bulk import, there were some documents that reported the following errors (v6.8.2))"
TransportShardBulkAction] [5aQYe86] [product_2_v24][3] failed to execute bulk item (index) index {[product_2_v24][document][2155], source[........]}
java.lang.IllegalArgumentException: startOffset must be non-negative, and endOffset must be >= startOffset; got startOffset=-1,endOffset=2
	at org.apache.lucene.analysis.tokenattributes.PackedTokenAttributeImpl.setOffset(PackedTokenAttributeImpl.java:

[2019-09-10 02:30] duydo commented on #67
@frog210 In order to investigate if it is a bug, can you please share the docs you've indexed?

[2019-09-10 03:09] frog210 commented on #67
[data.txt](https://github.com/duydo/elasticsearch-analysis-vietnamese/files/3593502/data.txt)
yes, please help

[2019-09-19 09:59] bkstorm opened #68 "String index out of range: -1"
Hi.
I use Logstash to synchronize data from Postgresql to Elasticsearch.
I encounter an error.
Here is the error log:
[code]

Here is my index `products_vi`:
[code]

I'm using:
- Elasticsearch version 7.3.1.
- elasticsearch-analysis-vetnamese-7.3.1

[2019-09-25 02:15] duydo commented on #68
This bug relates to issue #67.

[2019-10-10 07:56] meodemsao commented on #68
i have same issue

[2019-10-17 10:58] gaveezy commented on #67
I face the same issue, just use this data for test
`nguyễn  văn  bé  nhỏ` (2 spaces between words, 1 space works)
Short stacktrace
`"stacktrace": ["java.lang.IllegalArgumentException: startOffset must be non-negative, and endOffset must be >= startOffset; got startOffset=-1,endOffset=5",
"at org.apache.lucene.analysis.tokenattributes.PackedTokenAttributeImpl.setOffset(PackedTokenAttributeImpl.java

[2019-10-30 04:34] hoangnd17899 opened #69 "Build fail for ES 7.4.1"
[INFO] 1 error
[INFO] -------------------------------------------------------------
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  2.006 s
[INFO] Finished at: 2019-10-30T11:32:38+07:00
[INFO] ------------------------------------------------------

[2019-11-08 07:34] hanhfgia commented on #68
Maybe fix at
https://github.com/duydo/vn-nlp-libraries/blob/b687d5f11392049165ea166c2fea8431caf0262a/nlp-parent/nlp-tokenizer/src/main/java/me/duydo/vi/Tokenizer.java#L105

`
if (tokenEnd >= 0 && tokenEnd < line.length()) {
...
}
`

[2019-11-13 16:31] bogiahuy commented on #69
Mình cũng bị giống thế này. Bạn build được chưa nhỉ

[2019-12-02 07:57] undergrowthlinear commented on #68
this code can fix multi space bug

Code:
org.apache.lucene.analysis.vi.VietnameseTokenizer#incrementToken line 81
    final int start = inputText.indexOf(word.getText(), i);
   offsetAtt.setOffset(correctOffset(start), offset = correctOffset(start + length));

change to
               final int start = inputText.indexOf(word.getText(), offset);
                int startChange = start;

[2019-12-05 03:30] hungbka48 opened #70 "Lỗi khi cài elasticsearch-analysis-vietnamese-7.3.1"
![image](https://user-images.githubusercontent.com/58540480/70201710-02c97f80-174a-11ea-9a65-2f1ffbc13d3a.png)

[2019-12-05 04:01] #70 closed

[2019-12-23 02:50] apremgeorge opened #71 "Build Fail in ES 7.4.2?"
Can i have some help?

[INFO] --- maven-resources-plugin:2.6:resources (default-resources) @ elasticsearch-analysis-vietnamese ---
[INFO] Using 'UTF-8' encoding to copy filtered resources.
[INFO] Copying 3 resources
[INFO]
[INFO] --- maven-compiler-plugin:3.3:compile (default-compile) @ elasticsearch-analysis-vietnamese ---
[INFO] Changes detected - recompiling the module!
[INFO] Compiling 5 sourc

[2019-12-23 03:11] apremgeorge commented on #71
This worked
    public VietnameseTokenizerFactory(IndexSettings indexSettings, Environment environment, String name, Settings settings) {
        super(indexSettings, settings, name);
        tokenizer = AccessController.doPrivileged((PrivilegedAction<me.duydo.vi.Tokenizer>) () -> new me.duydo.vi.Tokenizer());
    }

[2019-12-23 03:11] #71 closed

[2019-12-23 04:25] hanzigs opened #72 "Installing plugin error?"
Followed these steps https://duydo.me/how-to-build-elasticsearch-vietnamese-analysis-plugin/

C:\ELK7.5.1\elasticsearch-7.5.1\bin>elasticsearch-plugin install C:\viet-plugin\vn-nlp-libraries\nlp-parent\elasticsearch-analysis-vietnamese\target\releases\elasticsearch-analysis-vietnamese-7.3.1.zip
-> Downloading C:\viet-plugin\vn-nlp-libraries\nlp-parent\elasticsearch-analysis-vietnamese\target\relea

[2020-01-15 09:59] dumln86 commented on #69
I have been got same error with elasticsearch 7.5.1. Could you please help fix it. Thank you so much

[2020-02-25 04:42] imcvampire opened #76 "java.lang.StringIndexOutOfBoundsException: String index out of range: -1"
When index new record, ES throw `StringIndexOutOfBoundsException`

[code]

Document
[code]

[2020-03-16 03:29] duydo commented on #76
Thanks @imcvampire for your report, I'll check it.

[2020-03-16 03:30] duydo commented on #68
Hi @undergrowthlinear, can you please make PR for this? Thanks.

[2020-03-19 01:17] harypham commented on #72
It's not a bug, just the way you installed the plugin.  It got me 30mins to figure out how to install it correctly
[correct way]:
elasticsearch-plugin install file:///C:/viet-plugin/vn-nlp-libraries/nlp-parent/elasticsearch-analysis-vietnamese/target/releases/elasticsearch-analysis-vietnamese-7.3.1.zip

note: really poor documents in vietnamese
the way to install plugin for Elasticsearch:
https://

[2020-04-20 16:43] tuanpham197 opened #77 "Can not install plugin"
[code]
Khi em install plugin thì gặp lỗi trên không biết do sao, em đã cài lại elasticsearch version 7.3.1 để cài cùng với version của plugin nhưng vẫn không được.

[2020-04-25 04:01] liguoxun001 opened #78 "When will es7.6 be supported"
Hello, may I ask when the es7.6 version can be supported

[2020-05-05 07:13] cuongntr opened #79 "How about with ES 6.x?"
Chào Duy Dỗ,
Thật vui khi tìm thấy repo này của bạn, nhưng cũng thật buồn là mình lại dùng ES6.
Cho mình xin phép hỏi là tại sao vậy.

Thông cảm cho mình vì tiếng Anh của mình không có nhiều vốn từ!

[2020-05-18 07:20] TsunamiNori commented on #79
ES6 phải tự build thì phải. Có branch cho bản 6.8.2

[2020-05-19 16:41] tyrantkhan commented on #79
could we get an official release of the binary in the releases tab?

[2020-05-21 22:39] tyrantkhan opened #80 "java.security.AccessControlException: access denied on Startup."
Hi I'm using ES 6.8.6 and I was able to install the binary on startup running into an issue:

`java.security.AccessControlException: access denied ("java.lang.RuntimePermission" "accessDeclaredMembers")
elasticsearch6   | 	at java.security.AccessControlContext.checkPermission(AccessControlContext.java:472) ~[?:1.8.0_201]
elasticsearch6   | 	at java.security.AccessController.checkPermission(AccessC

[2020-06-03 09:34] MunKeat commented on #80
@tyrantkhan I think I have the same issue as you - I managed to compile successfully on the first round - but subsequent round, the compilation failed with the attached
[error.log](https://github.com/duydo/elasticsearch-analysis-vietnamese/files/4722306/error.log).

I did checkout the branch `feature/v6.8.2` before compilation - however, I compiled against Elasticsearch version `6.8.5` (by changin

[2020-06-03 10:45] duydo commented on #80
@tyrantkhan @MunKeat can you start that Elasticsearch version without the plugin?

[2020-06-03 10:48] MunKeat commented on #80
Yes, starting that Elasticsearch version is fine

[2020-06-03 14:03] tyrantkhan commented on #80
I can install the plugin fine, but using it is where issues begin.there were a couple issues -

I had to move:

https://github.com/duydo/vn-nlp-libraries/blob/master/nlp-parent/nlp-tokenizer/src/main/java/me/duydo/vi/Tokenizer.java

from the package me.duydo.vi to vn.hus.nlp

Additionally i had to revert the changes in that file caused by

https://github.com/duydo/vn-nlp-libraries/commit/edd770edd

[2020-06-04 09:11] MunKeat commented on #80
For me, this is the modification I had to make as recommended by Elastic. The error goes away once the fix is added.

I have submitted a merge request - https://github.com/duydo/elasticsearch-analysis-vietnamese/pull/83

Reference: https://www.elastic.co/guide/en/elasticsearch/plugins/current/plugin-authors.html

[2020-06-06 05:54] duydo commented on #80
Thanks @MunKeat  for your PR. I'll merge it.

[2020-08-13 16:09] thalurur opened #85 "Failing to build ES versions 7.7/7.8"
When I build the package for ES versions 7.7/7.8, I am seeing the following issue.

[code]

[2020-08-14 16:09] ravitx commented on #85
The error goes away when I revert the following commit for version 7.7

[duydo/vn-nlp-libraries@edd770e](https://github.com/duydo/vn-nlp-libraries/commit/edd770edde2bdad654a6bb66f2ed723648a4defa)

[2020-09-15 02:13] bogiahuy opened #87 "mvn packed 7.9.1 fail"
D:\test\vn-nlp-libraries\nlp-parent\elasticsearch-analysis-vietnamese\src\test\java\org\elasticsearch\index\analysis\VietnameseAnalysisTest.java:[10,41] error: cannot find symbol

Please help me

[2020-10-11 17:42] truonghieucmg commented on #77
`bin/elasticsearch-plugin install https://github.com/duydo/elasticsearch-analysis-vietnamese/releases/download/v7.3.1/elasticsearch-analysis-vietnamese-7.3.1.zip`
Chạy lệnh này nhé!

[2020-11-02 05:29] sLeeNguyen opened #89 "error when using char_filter: ["html_strip"] with vi_tokenizer (v7.5.2)"
I got an error when analyzing documents with **_vi_tokenizer_** tokenizer and **_html_strip_** char filter

[code]
This is my error
[code]
[code]

This is my index setting
[code]
I build the Elasticsearch Vietnamese Analysis Plugin by myself for Elasticsearch-7.5.2.
Thank you!

[2020-11-05 20:35] lasagar opened #90 "Where can i download for 7.7 version"

[2020-11-05 21:00] lasagar commented on #85
Hi @thalurur Where can i download plugin for 7.7?

[2020-11-10 21:56] thalurur commented on #85
@lasagar I haven't uploaded it anywhere, but if you follow my recommendation above you can build it yourself. Let me know if you have any questions

[2020-11-16 04:53] huylv69 commented on #89
I got the same error with elasticsearch 7.8.1.

[2020-11-25 19:57] duydo commented on #90
@lasagar You can build it yourself, I don't provide this version.

[2020-11-25 19:57] #90 closed

[2020-11-30 16:57] Wizard2069 commented on #87
Just move your elasticsearch-analysis-vietnamese folder to your root folder (in your case D:\test), after that this should work well with elastic v7.5.1

[2020-12-02 08:25] anthony9981 commented on #89
I got this error on elasticsearch 7.3.1 too

[2020-12-30 08:24] linghb commented on #85
support for ES-7.9 later?

[2020-12-31 02:31] trungda opened #92 "Different results when analyzing lowercase v.s uppercase"
Hi,

Great work! I appreciate what you've done here with this plugin.
I've noticed different behavior when analyzing uppercase and lowercase text using `vi-analyzer`.

### Text including uppercase
![Screen Shot 2020-12-30 at 6 28 26 PM](https://user-images.githubusercontent.com/2529107/103391228-27b73000-4acd-11eb-9940-c381a7dfa465.png)

### Text with lowercase only
![Screen Shot 2020-12-30 at 6 2

[2020-12-31 02:33] trungda commented on #92
Looks like someone has already submitted a PR regarding this issue https://github.com/duydo/elasticsearch-analysis-vietnamese/pull/75/files. Could you pls review it?

[2021-01-13 09:20] huynhminhphuc opened #93 "Plugin for ES 7.10?"
Dear Duy Do,

Now I'm getting trouble for build ES-analysis-vietnamese plugin myself for ES 7.10.1.
I follow your instructions in [https://duydo.me/how-to-build-elasticsearch-vietnamese-analysis-plugin/](url) but i received an error as below:

I've install JDK 10 but I got a new error:

Please help me

[2021-01-18 03:09] anhtuanluu commented on #93
I have the same error

[2021-03-23 02:42] viiiprock commented on #93
Cái này mình cũng đang bị, lỗi này từ java chứ ko liên quan đến ES version
`java.xml.bind (JAXB) - REMOVED`

Java 8 - OK
Java 9 - DEPRECATED
Java 10 - DEPRECATED
Java 11 - REMOVED

Phải dùng bản 8

[2021-04-14 14:05] soosinha opened #95 "Plugin Support for OpenSearch"
AWS has released OpenSearch with ALv2 license: https://github.com/opensearch-project/OpenSearch
Is there any plan to support this analyzer for OpenSearch ?

[2021-04-15 16:12] tl-minhtang commented on #93
![image](https://user-images.githubusercontent.com/78368153/114902498-1574be00-9e40-11eb-82dc-684f361376a5.png)
I have the same error

[2021-04-20 15:49] duydo commented on #37
I've just released new version of the plugin with new C++ tokenizer library from CocCoc team. Thanks for your patience :-)

[2021-04-20 15:50] duydo commented on #37
cc: @hoangpq @davesag @xiaoyuan0821 @telosma @kienvht

[2021-04-20 15:52] #67 closed

[2021-04-20 15:52] #68 closed

[2021-04-20 15:52] #69 closed

[2021-04-20 15:52] #72 closed

[2021-04-20 15:52] #76 closed

[2021-04-20 15:52] #77 closed

[2021-04-20 15:52] #78 closed

[2021-04-20 15:52] #79 closed

[2021-04-20 15:52] #80 closed

[2021-04-20 15:52] #85 closed

[2021-04-20 15:52] #87 closed

[2021-04-20 15:52] #89 closed

[2021-04-20 15:52] #92 closed

[2021-04-20 15:52] #93 closed

[2021-04-21 01:13] duydo commented on #95
@soosinha To support OpenSearch, we just build and test the plugin for Elasticsearch 7.10.2 is enough, isn't it?

[2021-04-21 05:03] duydo commented on #95
@soosinha I've created the repo https://github.com/duydo/opensearch-analysis-vietnamese for supporting OpenSearch, but maven cannot find  dependencies, can you please look at it?

[2021-04-21 08:03] soosinha commented on #95
@duydo Thanks for taking the OpenSearch changes. Currently AWS team is working publishing OpenSearch to public maven repos. So maven is not able to find OpenSearch dependency. We need to build and publishly OpenSearch locally to resolve this. This process is mentioned here: https://github.com/opensearch-project/opensearch-plugins

I have created a pull request to update the documentation: https://

[2021-04-21 08:59] duydo commented on #95
@soosinha Sure, I'll look at it.
Btw, I'll close this ticket. Any issues relates to OpenSearch should be opened on opensearch-analysis-vietnamese repo.

[2021-04-21 08:59] #95 closed

[2021-04-21 09:29] duydo commented on #95
@soosinha I've just fixed the compilation failures and updated the repo, now it is able to compile.

[2021-04-22 04:56] duydo opened #96 "The plugin with new C++ tokenizer"
From version 7.12.11, I use [Cốc Cốc C++ tokenizer](https://github.com/coccoc/coccoc-tokenizer) for the plugin instead of VnTokenizer.  So I close all issues relates to VnTokenizer, I won't maintain the plugin with the VnTokenizer anymore.

The Cốc Cốc tokenizer is used in Cốc Cốc Search and Ads systems and the main goal in its development was to reach high performance while keeping the quality re

[2021-04-22 14:45] soosinha commented on #96
@duydo The packaged zip of the plugin does not contain the tokenizer. What is the process for installing the new tokenizer on an Elasticsearch node ?

[2021-04-22 15:04] duydo commented on #96
@soosinha The tokenizer is written in C++ so we have to build it as a shared lib on Elasticsearch node. You can refer the installation guide in README file (Step 1).

[2021-04-23 10:57] viiiprock opened #97 "[Docker fail install plugin] no coccoc_tokenizer_jni in java.library.path"
Error occur when using with docker
Step to reproduce:
1/ Build Plugin following steps as document
2/ Run `docker-compose up -d` with the docker-compose.yml provided in the repository
3/ Logs container

[code]

[2021-04-24 05:57] duydo commented on #97
@viiiprock To get the plugin work with Docker, we need to build the C++ tokenizer in Docker images as shared library. @taivc-teko is the author of the docker integration, I don't know if he can fix this issue.

[2021-04-24 11:33] viiiprock commented on #97
@duydo aha, I got the idea, so I have to copy whole `build` directory to container volume. In terms of the directory of plugin is `/usr/share/elasticsearch/plugin/elasticsearch-analysis-vietnamese-${ES_VERSION}.zip` , where should I copy the tokenizer build folder to get it share? `/usr/java/packages/lib` or `/usr/java/packages/lib` or `/usr/lib`?

[2021-04-24 15:42] seta-hainguyen opened #98 "Tokenizer "vi_tokenizer" doesn't work with character filter "html_strip""
Here is my settings for analyzer:

`
            "vn_html_analyzer": {
              "filter": [
                "icu_folding"
              ],
              "char_filter": [
                "html_strip"
              ],
              "type": "custom",
              "tokenizer": "vi_tokenizer"
            }
`

When I tried:
`GET localhost:9200/question/_analyze
{
  "analyzer" : "vn_html_analyzer",

[2021-04-25 10:51] duydo commented on #98
The version 7.3.1 with old VnTokenizer has a lot of issues, so I switched to use another tokenizer from CocCoc team for the plugin. I don't maintain the plugin with VnTokenizer any more.

Currently plugin is compatible to ES v7.4.0 and later, you can refer the document to build the plugin with version you expect.

[2021-04-25 13:04] seta-hainguyen commented on #98
@duydo Thank you. Do you have any notice about java version to build Coccoc tokenizer's project and your project ?

[2021-04-26 01:13] duydo commented on #98
@seta-hainguyen The CocCoc tokenizer is written in C++, so you have to build it as shared library on Elasticsearch node which you intend to install the plugin on.
The ES plugin is compatible with Java 8 and later.

[2021-05-12 17:16] lechihuy opened #99 "Occur error when install plugin elasticsearch-vietnamese-analyst-x.x.x.zip"
[code]

I just build package and then install it, but a error occured. You may help me, please
Thanks

[2021-05-14 08:13] LucDinhVan commented on #99
I think that problem is caused by incorrect path to plugin.

try change: `file://target/releases/elasticsearch-analysis-vietnamese-7.10.1.zip` to `file:///path-to-file/elasticsearch-analysis-vietnamese-7.10.1.zip`.

Make sure path to plugin correct, in my case: `elasticsearch-plugin install file:///F:\setup\elasticsearch-analysis-vietnamese-7.3.1.zip`

Hope to help you.

[2021-05-18 01:31] newgate1999 opened #100 "Cannot install Plugin elasticsearch-analysis-vietnamese version 7.12"
Hi all,
I want to add this plugin to elasticseach version 7.12.0. I changed the version in pom file and build project. Then I copied the jar file and compressed it into a zip file. but when installing the plugin it always gives this error. I don't know if I did it right.

sudo bin/elasticsearch-plugin install /usr/share/elasticsearch/elasticsearch-analysis-vietnamese-7.12.zip
-> Installing /usr/sh

[2021-05-18 02:41] duydo commented on #100
@newgate1999 Your installation command is missing a prefix `file://` in plugin path:
```sudo bin/elasticsearch-plugin install file:///usr/share/elasticsearch/elasticsearch-analysis-vietnamese-7.12.zip```

[2021-05-18 03:01] newgate1999 commented on #100
thanks for your reply. but it throws new error. Can you help me check if the zip file is correct or not?

newgate@newgate-X510UQR:/usr/share/elasticsearch$ sudo bin/elasticsearch-plugin install file:///usr/share/elasticsearch/elasticsearch-analysis-vietnamese-7.12.zip
-> Installing file:///usr/share/elasticsearch/elasticsearch-analysis-vietnamese-7.12.zip
-> Downloading file:///usr/share/elasticse

[2021-05-18 11:22] newgate1999 commented on #100
thanks for your reply. I'm resolved problem.

[2021-05-24 03:39] #100 closed

[2021-05-24 03:49] #99 closed

[2021-05-24 03:50] #98 closed

[2021-05-26 02:47] newgate1999 opened #102 "Error library libcoccoc_tokenizer_jni"
Em chào anh ạ,
Khi em build plugin này và cài vào được elasticsearch, nhưng hệ thống elastic không start được do lỗi plugin. em có thử chạy test plugin thì nó ra lỗi liên quan đến lib của coccoc. Em đã cài coccoc_tokenizer và test tách chữ bằng câu lệnh command được rồi ạ.
Đây là lỗi chạy test Elasticsearch.

java.lang.UnsatisfiedLinkError: no libcoccoc_tokenizer_jni in java.library.path: [/usr/ja

[2021-05-27 04:14] duydo commented on #102
@newgate1999 Em copy `libcoccoc_tokenizer_jni.so` vào một trong những thư mục `/usr/java/packages/lib, /usr/lib64, /lib64, /lib, /usr/lib` rồi start lại ES nhé.

[2021-05-27 04:39] newgate1999 commented on #102
em cảm ơn anh ạ. em đã cài đặt được thư viện này rồi ạ

[2021-06-03 07:52] vanthinh1617 commented on #102
Bạn cho mình hỏi là thư viện libcoccoc_tokenizer_jni nằm ở đâu vậy, mình tìm không thấy.

[2021-06-04 02:21] vanthinh1617 commented on #102
Anh ơi cho em hỏi là thư viện libcoccoc_tokenizer_jni nằm ở đâu vậy, emtìm không hoài thấy ạ.

[2021-06-04 02:27] duydo commented on #102
Nằm trong thư mục `cocco_tokenizer/build` sau khi em build nha.

[2021-06-22 04:34] dinhan92 opened #103 "Error in Make Install"
Chào bạn, khi mình cài Step đầu tiên qua Ubuntu LTS, khi chạy câu lệnh make install thì lỗi như sau:
: not foundld_java.sh: 2: ../java/build_java.sh:
../java/build_java.sh: 36: ../java/build_java.sh: Syntax error: end of file unexpected (expecting "then")
CMakeFiles/compile_java.dir/build.make:60: recipe for target 'coccoc-tokenizer.jar' failed
make[2]: *** [coccoc-tokenizer.jar] Error 2
CMakeFile

[2021-06-22 05:17] phat-go2joy commented on #102
Anh @duydo  oi, em có làm theo hướng dẫn build nhưng nó báo lỗi ko tìm thấy _libcoccoc_tokenizer_jni.dylib_ , Em sai ở bước nào ạ.

admin@Admins-MacBook-Pro build % make install
[ 12%] Generating coccoc-tokenizer.jar
../java/build_java.sh: line 24: /Library/Internet: No such file or directory
clang: error: no such file or directory: 'Plug-Ins/JavaAppletPlugin.plugin/Contents/Home/include'
clang: e

[2021-06-22 06:51] phat-go2joy commented on #97
hi @viiiprock , em cũng đang gặp lỗi giống a khi sử dụng Docker. Ko biết anh đã giải quyết đc chưa a ?

[2021-06-22 06:52] phat-go2joy commented on #97
anh @duydo oi, anh có thể share tài liệu về cách build C++ tokenizer in Docker images as shared library ko ạ. Em bữa giờ cũng gặp lỗi "no coccoc_tokenizer_jni in java.library.path: /usr/java/packages/lib:/usr/lib64:/lib64:/lib:/usr/lib"," khi run plugin với container. Hy vọng anh xem giúp ạ

[2021-06-22 08:04] viiiprock commented on #97
@phat-go2joy Hi, mình chưa quay lại với task này, hiện tại vẫn đang dùng tạm cách ghép keywords với nhau dùng asciifolding thôi.
Tuy nhiên mình nghĩ là vấn đề sẽ được giải quyết ở đây, chỉ cần path đúng  là được
https://www.facebook.com/groups/elasticsearchvn/permalink/2264795696988534/?comment_id=2264877240313713&reply_comment_id=2264879540313483&notif_id=1622295100313591&notif_t=group_comment&re

[2021-06-23 06:53] dinhan92 commented on #97
@viiiprock Hi bạn, mình cũng mắc lỗi này khi chạy elasticsearch, bạn sửa thế nào vậy? Mình ko vào được link facebook trên @@

[2021-06-23 07:00] dinhan92 commented on #102
@duydo a oy, e tìm trong C:\Dev Programs\CTokenizer\coccoc-tokenizer\build nhưng ko thấy coccoc_tokenizer_jni đâu ak, e mắc lỗi: java.lang.UnsatisfiedLinkError: no coccoc_tokenizer_jni in java.library.path: /usr/java/packages/lib:/usr/lib64:/lib64:/lib:/usr/lib ak.
Với cả cho e hỏi, cái file coccoc-tokenizer.jar sau khi generate ra thì dùng như thế nào để cài plugin elasticsearch-analysis-vietname

[2021-06-23 07:21] dinhan92 opened #104 "Cho mình hỏi về file coccoc-tokenizer.jar"
Cho mình hỏi làm sao sử dụng file này để cài elasticsearch-analysis-vietnamese?

[2021-06-26 07:22] dvdieu commented on #97
Bạn cài C++ tokenizer trên máy host, sau đó mount vào docker hoặc là build lại images copy vào hoặc là build ở trong docker

[2021-06-27 19:06] dvdieu opened #105 "BUG"
----------  S U M M A R Y ------------

Command Line: -Xshare:auto -Des.networkaddress.cache.ttl=60 -Des.networkaddress.cache.negative.ttl=10 -XX:+AlwaysPreTouch -Xss1m -Djava.awt.headless=true -Dfile.encoding=UTF-8 -Djna.nosys=true -XX:-OmitStackTraceInFastThrow -Dio.netty.noUnsafe=true -Dio.netty.noKeySetOptimization=true -Dio.netty.recycler.maxCapacityPerThread=0 -Dio.netty.allocator.numDirectA

[2021-06-27 19:07] dvdieu commented on #105
services:
  elasticsearch-node1:
    image: docker.io/dieudv/elasticsearch-vietnamese-tokenizier-coccoc
    restart: "unless-stopped"
    environment:
      - ELASTICSEARCH_CLUSTER_NAME=elasticsearch-cluster
      - ELASTICSEARCH_CLUSTER_HOSTS=elasticsearch-node1,elasticsearch-node2,elasticsearch-node3
      - ELASTICSEARCH_NODE_NAME=elasticsearch-node1
      - ELASTICSEARCH_HEAP_SIZE=4g
    ports

[2021-06-29 02:56] duydo commented on #103
@dinhan92 Bạn nhớ install JDK trước rồi follow kỹ từng câu lệnh trong hướng dẫn cài đặt nha.

[2021-06-29 03:02] duydo commented on #102
@phat-go2joy Em có cài JDK trước chưa?

[2021-06-29 03:03] duydo commented on #102
@dinhan92 Cái tokenizer c++ chỉ hỗ trợ Linux, Mac OS thôi em nha, chưa hỗ trợ Windows.

[2021-06-30 03:33] nntruong02069999 opened #106 "Error cannot initialize Tokenizer: /usr/local/share/tokenizer/dicts"
Em chào anh,
Em run elasticsearch với docker , đã cài coccoc-tokenizer và test command được rồi ạ
Đây là  lỗi khi em run images lên :
[code]

Docker file em build image ạ
[code]

[2021-07-01 10:09] BinhMinhs10 opened #107 "Error when "mvn elasticsearch-analysis-vietnamese-7.13.0.zip" ??"
![Screenshot from 2021-07-02 10-15-26](https://user-images.githubusercontent.com/22696815/124215568-74cc9b00-db1e-11eb-8b67-7fe67fe020e5.png)

[2021-07-12 04:16] trungtv1207 opened #109 "Does vi_analyzer still have lowercase?"
In branch vntokenizer, vi_analyzer have lowercase, vi_tokenizer and stop.
But I dont see lowercase listed in this branch (coccoc-tokenizer).
Please let me know if this branch still have lowercase.

In addition, can this plugin convert vietnamese to non-accent vietnamese (example: â --> a)?
Thanks

[2021-08-22 11:50] beantoan commented on #106
Copy the following files into directory `/usr/local/share/tokenizer/dicts` of container:

`
acronyms
alphabetic
chemical_comp
d_and_gi.txt
Freq2NontoneUniFile
i_and_y.txt
keyword.freq
multiterm_trie.dump
nontone_pair_freq
nontone_pair_freq_map.dump
numeric
special_token.strong
special_token.weak
syllable_trie.dump
vndic_multiterm
`

[2021-08-23 10:17] beantoan commented on #106
There are some redundant files but I am not sure which ones.

[2021-08-30 03:09] mbb-engineering commented on #107
Có thông tin bên này rồi nè bạn: https://github.com/duydo/elasticsearch-analysis-vietnamese/issues/102

[2021-09-27 01:50] thusinh1969 opened #110 "Uncompleted package !!!"
1) Package không cài được vì thiếu dependency, không chạy được
2) Không có guide đầy đủ để hoàn tất chạy được
3) Nên XÓA đi đừng public thế này kỳ lắm

Steve

[2021-09-27 02:27] duydo commented on #109
@trungtv1207 It already have lowercase by default in coccoc-tokenizer.

In addition, can this plugin convert vietnamese to non-accent vietnamese (example: â --> a)? -> No. You can use `icu analysis` plugin for your purpose.

[2021-09-27 02:29] duydo commented on #110
@thusinh1969 Bình luận không có tính xây dựng, tôi đóng bình luận :-)

[2021-09-27 02:29] #110 closed

[2021-09-27 05:06] thusinh1969 opened #111 "Hướng dẫn đầy đủ cài đặt đây !"
*** Môi trường Ubuntu 18.04 (or whatever), phải install Java JDK chứ không phải JRE vì cần javac cho cái C++ Tokenizer.  Các file .yml tự làm cho chuẩn theo hường dẫn của các gits. Docker hay VM cũng vậy, đơn giản thế này.

sudo su
apt-get update -y
apt-get upgrade -y
apt-get install build-essential cmake unzip pkg-config gcc-7 g++-7 -y
apt-get install wget curl nano git default-jdk maven -y

cd /

[2021-09-27 07:54] thusinh1969 commented on #111
Lưu ý: nên dùng ES 7.3.1, các version cũ crash loạn xạ với Java core dump !

Steve

[2021-09-28 06:26] duydo commented on #111
v7.3.1 xài tokenizer cũ của anh Phương chứ không xài coccoc-tokenizer nha, trong README có nói rõ.

[2021-10-15 09:24] ninhtruong opened #112 "Vấn đề về Get All Document Analysis"
Cho em hỏi là em đã put nhiều tài liệu lên để phân tích và giờ em muốn get tất cả gói đã phân tích về hoặc nhiều gói theo 1 điều kiện nào đó. Em đã research khá nhiều nhưng chưa giải quyết được vấn đề. Mong anh chị em có thể hỗ trợ em về phần này. Em cảm ơn nhiều

[2021-11-16 04:12] viiiprock commented on #97
Xin lỗi các bạn @phat-go2joy @dinhan92 , mình bận quá, giờ mới quay lại với cái này, hiện tại mình đang dùng với 7.14.2,
Không biết các bạn còn cần không, mình có tạo demo tại đây.
https://github.com/viiiprock/es-vietnamese-docker
Do mình lười viết dài dòng nên có làm 1 clip ngắn để hướng dẫn https://www.youtube.com/watch?v=aAuW_wV81Xk

[2021-11-16 04:12] #97 closed

[2021-11-16 04:13] viiiprock commented on #111
Dành cho bạn nào cần sử dụng docker
https://github.com/viiiprock/es-vietnamese-docker

[2021-11-17 09:06] cpfriend1721994 commented on #111
Mình có viết Dockerfile/Docker-Compose Elasticsearch 7.12.1 với coccoc-tokenizer và elasticsearch-analysis-vietnamese cho ae nào cần https://github.com/cpfriend1721994/docker-es-cococ-tokenizer

[2021-11-17 22:21] viiiprock commented on #104
bạn xem lại phần hướng dẫn nhé

[2021-11-20 17:42] tranha31 opened #113 "Lỗi không chạy được ES do ghi đè không đúng"
Sau khi cài đặt theo hướng dẫn, mình gặp phải lỗi như sau. Rất mong được mọi người giúp đỡ. Mình gỡ đi cài lại vẫn bị lỗi này:

`java.lang.Error: Unresolved compilation problems:
	The method getTokenFilters() of type AnalysisVietnamesePlugin must override a superclass method
	Constructor references are allowed only at source level 1.8 or above

	at org.elasticsearch.plugin.analysis.vi.AnalysisViet

[2021-11-20 18:40] #113 closed

[2021-11-30 03:06] #109 closed

[2021-11-30 03:08] #103 closed

[2021-11-30 03:09] #104 closed

[2021-11-30 03:10] #106 closed

[2021-11-30 03:11] duydo commented on #112
@ninhtruong Em xem thêm docs về Search DSL nha

[2021-11-30 03:11] #112 closed

[2021-12-01 07:10] vukhacbiet opened #114 "Offset Bug"
Đợt này lượng dữ liệu nhiều hơn, mỗi ngày mình thường bị BUG này 1  2 lần, đúng lúc cao điểm dữ liệu đổ về nhiều, data thì y nhau, đột nhiên bị bug offset này, mong được giúp đỡ.

[code]

[2022-01-14 06:21] hoptrangetcare commented on #111
@cpfriend1721994 Lúc mình chạy từ Dockerfile thì gặp lỗi này:
ERROR: [1] bootstrap checks failed. You must address the points described in the following [1] lines before starting Elasticsearch.
bootstrap check failure [1] of [1]: the default discovery settings are unsuitable for production use; at least one of [discovery.seed_hosts, discovery.seed_providers, cluster.initial_master_nodes] must be c

[2022-02-07 00:48] dangtoanphat commented on #114
Mình cũng đang gặp issue tương tự, cho hỏi là bạn đã có cách giải quyết chưa?

[2022-03-22 04:52] kennynguyeenx commented on #96
@duydo I tried to build and run your plugin with [Cốc Cốc C++ tokenizer](https://github.com/coccoc/coccoc-tokenizer) and got crash time to time
Message in log
`double free or corruption (fasttop)`
ES version: >= 7.12.1
Could you help to check when you have time, pls?
I think we have problem with new tokenizer or binding from C++ to Java
Thank you

[2022-03-25 03:51] phikll12 opened #123 "vi_tokenizer Không dữ lại token gốc khi config filter preserve_original = true"

[2022-03-25 04:05] duydo commented on #123
@phikll12 Em setting cho index cụ thể thế nào em cho lên đây luôn để anh tiện reproduce lại và fix nếu có issue nhé.

[2022-03-25 06:07] phikll12 commented on #123
[code]
Đây là setting index của em.

[2022-05-02 14:14] linuxpham commented on #111
Nếu dùng elasticsearch 8.1.3 , thì các bạn có thể dùng : https://github.com/miczone/elasticsearch-analysis-vietnamese

[2022-05-02 14:24] linuxpham commented on #111
chua install cococ nha ban => https://github.com/miczone/coccoc-tokenizer.git

[2022-05-03 05:03] linuxpham commented on #96
Try with : https://github.com/miczone/coccoc-tokenizer

[2022-05-04 03:11] duydo commented on #96
@kennynguyeenx

This issue has been fixed in this branch https://github.com/duydo/elasticsearch-analysis-vietnamese/tree/feature/search-issues

[2022-05-05 04:57] iceteahh commented on #93
Same Error why r u close it?

[2022-05-08 22:50] cpfriend1721994 commented on #111
@hoptrangetcare bạn tạo issues trên repo chính giúp mình nhé, bạn chạy từ docker-compose thì bị lỗi không

[2022-05-11 10:11] andacu opened #124 "Logical operators are tokenized as lower case words"
[code]

Results in the following tokens.
[code]

This would affect results in the query as the operators "AND" and "OR" are being considered as tokens.

[2022-05-14 05:49] duydo commented on #124
@andacu
This wouldn't effect results in the query, the logical operators (AND, OR, NOT) in `query_string` will be parsed before running through any analyzers.

Try `default` analyzer, it produces similar output:

[code]
Output:
[code]

[2022-05-26 06:46] #124 closed

[2022-05-26 06:51] duydo commented on #105
Bug này được fix trong release mới nhất rồi nha @dvdieu

[2022-05-26 06:52] #102 closed

[2022-05-26 06:53] duydo commented on #114
@vukhacbiet Issue này đã fixed trong release mới nhất v7.17.1 nha

[2022-05-26 06:54] #107 closed

[2022-05-26 06:54] #105 closed

[2022-05-26 06:54] #114 closed

[2022-05-27 03:30] duydo commented on #123
@phikll12 Các filters chỉ apply trên tokens đã được tokenized. Nếu em muốn giữ nguyên input source thì em có thể define multi fields, ví dụ:
[code]

Lúc này ```
name.raw = 'mua dien thoai'
name = [mua, dien thoai, điện thoại]
[code]

[2022-05-27 03:37] #37 closed

[2022-06-13 12:24] BlankS2 opened #126 "Error testVietnameseTokenizer(org.elasticsearch.index.analysis.VietnameseAnalysisTests)"
Em chào anh
Hiện tại thì e đang bị lỗi ngay bước mvn package của elasticsearch-analysis-vietnamese
Phần coccoc-tokenize thì em đã test bằng terminal rồi ạ
Em đang dùng elastic bản 8.2.2
`[ERROR] testVietnameseTokenizer(org.elasticsearch.index.analysis.VietnameseAnalysisTests)  Time elapsed: 0.019 s  <<< ERROR!
java.lang.NoClassDefFoundError: org/apache/lucene/analysis/BaseTokenStreamTestCase
	at o

[2022-06-14 03:20] duydo commented on #126
@BlankS2 Plugin anh chưa hỗ trợ Elasticsearch 8.x nha em, để anh thu xếp thời gian làm.

[2022-06-14 09:25] BlankS2 commented on #126
Dạ em cảm ơn anh

[2022-06-14 09:25] #126 closed

[2022-06-15 05:20] lttin0912 opened #127 "Bị lỗi khi cài đặt trên MacOS"
Khi em chạy lệnh mvn package thì bị lỗi này:

[INFO] Results:
[INFO]
[ERROR] Errors:
[ERROR]   VietnameseAnalysisIntegrationTests>ESTestCase.<clinit>:244 » Runtime unable to...
[ERROR]   VietnameseAnalysisTests.org.elasticsearch.index.analysis.VietnameseAnalysisTests » NoClassDefFound
[INFO]
[ERROR] Tests run: 2, Failures: 0, Errors: 2, Skipped: 0
[INFO]
[INFO] ------------------------------------

[2022-07-15 14:17] ManWithASideQuest commented on #96
Hi, @duydo
We're using the coccoc-tokenizer and we keep on getting this error:
12]: *** Error in `/usr/share/elasticsearch/jdk/bin/java': double free or corruption (!prev): 0x00007f49dc04bf70 ***
12]: ======= Backtrace: =========
12]: /lib64/libc.so.6(+0x81329)[0x7f4a8754a329]
12]: /usr/lib/libcoccoc_tokenizer_jni.so(_ZN3spp11sparsetableISt4pairIKifENS_14libc_allocatorIS3_EEE12_free_groupsEv+0x2d)

[2022-08-19 05:41] mofolo opened #128 "Support for ES 8.3?"
Hi thank you for your plugin
Is there any support for Elastic Search 8.3?

[2022-08-19 10:24] duydo commented on #128
@mofolo Thanks for being interested in the plugin.
I'm working on upgrading it to Elasticsearch 8.x.

[2022-08-19 14:01] mofolo commented on #128
Great work, thank you.

[2022-09-04 15:13] mofolo commented on #128
I managed to build your changes on v8.3.3 by skipping the tests - unfortunately the plugin didn't seem to work.

[2022-09-05 01:52] duydo commented on #128
[This branch](https://github.com/duydo/elasticsearch-analysis-vietnamese/tree/feature/upgrade-to-es-8.x) contains the code for v8.3.3, you can try.

[2022-09-05 12:53] mofolo commented on #128
Hey @duydo - Question, does the plugin need to have the tokenizer on the same machine for it to work or is the tokenizer wrapped into the JAR plugin itself?
Is there anyway to use this plugin on Elastic that's been created using Elastic Cloud?

[2022-09-08 03:20] #123 closed

[2022-09-08 03:24] duydo commented on #128
@mofolo

Yes, you need to have the C++ tokenizer on the same machine running Elasticsearch.

It seems that Elastic Cloud does not support install custom plugins using native lib via JNI.

[2022-09-10 02:13] mofolo commented on #128
Yes you're right, the Cloud version doesn't allow us to load custom binaries onto the machine running Elastic either.

Would it be viable (although not as effective) to fork a version of the repo that utilises the vnTokenizer
(https://github.com/duydo/vn-nlp-libraries) and package everything into the JAR?

[2022-09-23 15:20] vankhoa229 commented on #127
Em đang build với 7.17.1 bị lỗi như trên luôn ạ.

[2022-10-21 08:55] hoangphuong-dev commented on #111
![image](https://user-images.githubusercontent.com/65483795/197155744-34c82b05-d8be-4e8b-942a-b1c06f5f36d8.png)

Mình chạy mvn package thì bắn ra log này , mn có ai bị lỗi này chưa nhỉ ? version mình dùng là 7.14.2